/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Genereics */

.container{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

input{
    width: 100px;
}

div{
    margin: 40px 0;
}

#bottom-element{
    display: flex;
    justify-content: space-between;
}

.d-none{
    display: none;
}