/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Genereics */

body{
    font-family: sans-serif;
}

input{
    width: 100px;
}

div{
    margin: 40px 0;
}

p{
    font-size: 19px;
    margin: 5px 0;
}

/*main content*/

.container{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

#bottom-element{
    display: flex;
    justify-content: space-between;
}

/*Utility*/

.d-none{
    display: none;
}